{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="bg-info m-5 p-5 d-flex justify-content-around">
    <div>
        <a class="btn btn-danger" href="another">Go to Another</a>
    </div>
    <div>
        <div class="addSection">
            <button class="btn btn-warning addNewBtn">Add point</button>
            <button class="btn btn-outline-warning text-dark resetBtn">Reset</button>
        </div>
    </div>
    <h4>Home</h4>
</div>

{% endblock %}



{% block js %}

{% endblock %}